<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!--                                          生产者配置      START                                     -->

    <!-- 定义RabbitMQ的连接工厂 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}"
                               password="${rabbitmq.password}" virtual-host="${rabbitmq.vhost}"/>

    <!-- 管理 -->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- 定义交换机 -->
    <rabbit:topic-exchange name="ORDER-ITEM-EXCHANGE"
                           auto-declare="true" durable="true"/>

    <!-- 定义模板 -->
    <rabbit:template id="rabbitTemplate"
                     connection-factory="connectionFactory" exchange="ORDER-ITEM-EXCHANGE"/>

    <!--                                          消费者配置      START                                     -->

    <!-- 定义队列 -->
    <rabbit:queue name="ORDER-WEB-CATEGORY-QUEUE" auto-declare="true" durable="true"/>
    <rabbit:queue name="ORDER-SEARCH-MENU-QUEUE" auto-declare="true" durable="true"/>
    <rabbit:queue name="FIS-TRACE-QUEUE" auto-declare="true" durable="true"/>
    <rabbit:queue name="FIS-TRACE-QUEUE2" auto-declare="true" durable="true"/>

    <!-- 消费者对象 -->
    <bean id="categoryMQHandler" class="com.gblfy.order.mqhandler.CategoryMQHandler"/>
    <bean id="menuMQHandler" class="com.gblfy.order.mqhandler.MenuMQHandler"/>

    <!-- 监听队列 -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="categoryMQHandler" method="execute" queue-names="ORDER-WEB-CATEGORY-QUEUE"/>
        <rabbit:listener ref="menuMQHandler" method="execute" queue-names="ORDER-SEARCH-MENU-QUEUE"/>
    </rabbit:listener-container>
</beans>

