<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <!--消费者配置如下：-->
    <!-- 定义RabbitMQ的连接工厂 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}"
                               password="${rabbitmq.password}" virtual-host="${rabbitmq.vhost}"
                               connection-timeout="${rabbitmq.conTimeout}"/>
    <!-- 管理消息队列 -->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- 定义一个队列或者多个队列  自动声明-->
    <rabbit:queue name="FIS-STRING-QUEUE" auto-declare="true" durable="true"/>
    <rabbit:queue name="FIS-STRING-PARAM-QUEUE" auto-declare="true" durable="true"/>
    <rabbit:queue name="FIS-TRACE-OBJ-QUEUE" auto-declare="true" durable="true"/>
    <rabbit:queue name="FIS-TRACE-OBJ-PARAM-QUEUE" auto-declare="true" durable="true"/>

    <!-- 声明多个消费者对象 -->
    <bean id="fisStrQueueMsgHandler" class="com.gblfy.order.mqhandler.FisStrQueueMsgHandler"/>
    <bean id="fisStrParamQueueMsgHandler" class="com.gblfy.order.mqhandler.FisStrParamQueueMsgHandler"/>
    <bean id="fisTraceObjMsgHandler" class="com.gblfy.order.mqhandler.FisTraceObjMsgHandler"/>
    <bean id="fisTraceObjParamMsgHandler" class="com.gblfy.order.mqhandler.FisTraceObjParamMsgHandler"/>

    <!-- 监听队列
      1. connectionFactory 连接工厂
      2. manual 手动签收
      3. ref="" 消费者监听
    -->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="manual">
        <rabbit:listener ref="fisStrQueueMsgHandler" method="onMessage" queue-names="FIS-STRING-QUEUE"/>
        <rabbit:listener ref="fisStrParamQueueMsgHandler" method="onMessage" queue-names="FIS-STRING-PARAM-QUEUE"/>
        <rabbit:listener ref="fisTraceObjMsgHandler" method="onMessage" queue-names="FIS-TRACE-OBJ-QUEUE"/>
        <rabbit:listener ref="fisTraceObjParamMsgHandler" method="onMessage" queue-names="FIS-TRACE-OBJ-PARAM-QUEUE"/>
    </rabbit:listener-container>
</beans>